*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
    overflow-x: scroll;
}

.top{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    border-radius: 30px;
    padding: 5px;
    font-size: large;
}

#submit{
    cursor: pointer;
    background-color: rgb(46, 46, 90);
    color: white;
}

#submit:hover{
    background-color: white;
    color: black;
}

.pesos{
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 20px;
}

.pesos  input {
    width: 50px
}

.resultado{
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    border: none;
    width: 100%;
}

.tableButton {
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
}

#tabela{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tabela th {
    border-radius: 5px;
    background-color: rgb(46, 46, 90);
    color: white;
}

#tabela td{
    text-align: center;
    width: fit-content;
    border: 1px solid #dddddd;
    padding: 5px;
}

#tabela td input {
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

#tabela td button{
    border-radius: 5px;
    width: 100%;
}

#tabela td button:hover, #mosquiterobtn:hover, #mosquiteroA30btn:hover {
    background-color: rgb(46, 46, 90);
    color: white;
}

@media (max-width: 600px) {
    #tabela {
        border: 0;
    }

    #tabela th, #tabela td {
        border: 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}